* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    width: 100%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 10%;
    padding-right: 10%;
    margin: 2px;
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 40px;
    height: 80px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px;

}

nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    color: red;
    transition: .3s;
}

nav img {
    height: 75px;
    width: 80px;
    border-radius: 50%;
}

button {
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: small;
    font-weight: bold;

}

.btn1 {
    background: whitesmoke;
}

.btn2 {
    background: rgba(255, 60, 60, 0.967);
}

.btn1 a {
    color: red;
}

.btn1 a img {
    height: 15px;
    width: 15px;

}

.btn2 a {
    color: black;
}

.content img {
    height: 100%;
    width: 100%;
}
.info{
    position:absolute;
    top: 30%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 20px;
    width: 60%;
    height: 40%;
    border-radius: 20px;
    
    
}
.info button {
    background-color: rgba(255, 60, 60, 0.967);
  
}
.info button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: .3s;
}
.info button a {
    color: black;
    font-weight: bold;
}